name: Release
on:
  push:
    branches:
      - main
      - beta
      - alpha
      - pre

permissions:
  contents: write
  id-token: write
  issues: write
  packages: write
  pull-requests: write

env:
  HUSKY: 0

jobs:
  release:
    uses: rodbe-io/shared-workflows/.github/workflows/release.yaml@main
    with:
      enable-test-unit: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
